{% extends 'blog/base.html' %}
{% block head %}
    <link rel="stylesheet" href="/static/css/index.css">

{% endblock head %}

{% block body %}
        {% for post in blog %}

            <h3 class="title"><a href="/blog/{{ post.id }}/">{{ post.title }}</a></h3>
            <div class="keywords">本文关键字：　{{ post.keywords|default:"" }}</div>
            <div class="pub_content">
            <span>摘要：</span>{{ post.text|safe }}
            </div>
            <a class="fr gt" href="/blog/{{post.id}}">查看全文......</a>
            <div class="pub_data  clearfix">
                <div class="fr">
                {{ post.author.uname }}@ : {{ post.published_date }}
                &nbsp;      <span>阅读({{ post.click }})</span>&nbsp;<span>评论({{ post.blogclick_set.count }})&nbsp;</span>
                    <div class="top" id="{{ post.id }}" ><img src="/static/images/zan.jpg"> (<em>{{ post.praise }}</em>)</div>
                    <div class="step" id="{{ post.id }}"><img src="/static/images/cai.jpg"> (<em>{{ post.cai }}</em>)</div>
                </div>
            </div>
            <hr>

            {% endfor %}

     <div class="pagenation">

                {% if blog.has_previous %}
                    <a href="/?index={{ blog.previous_page_number }}" class="active">上一页</a>
                {% else %}
                    <a href="/?index=1" class="active">上一页</a>

                {% endif %}

                {% for pindex in blog.paginator.page_range %}
                    <a href="?index={{ pindex }}" class="active">{{ pindex }}</a>
                {% endfor %}


                {% if blog.has_next %}
                    <a href="/?index={{ blog.next_page_number }}" class="active">下一页</a>
                {% else %}
                    <a href="/?index={{ blog.paginator.num_pages }}" class="active">下一页</a>
                {% endif %}

            </div>



{% endblock body %}