{% extends 'blog/base.html' %}
{% block head %}
   <style>
        .title{
            font-size: 20px;
            font-family: 'Lobster';
            height: 40px;
            line-height: 40px;
            text-indent: 50px;
            background: #5b8dcd;
        }
        .title a{
             font-family: 'Lobster';
                color: black;
        }

        .pub_content{
            margin-top: 25px;
            width: 645px ;
            height: 250px;
            overflow: hidden;
        }

        .pub_data{
            margin: 30px;
        }
        .keywords{
            margin-top: 15px;
            margin-bottom: 15px;
        }

        .gt{
            margin-right: 30px;
        }

   </style>
{% endblock head %}
{% block body %}
        {% for post in blog %}

            <h3 class="title"><a href="/blog/{{ post.id }}/">{{ post.title }}</a></h3>
            <div class="keywords">本文关键字：　{{ post.keywords|default:"" }}</div>
            <div class="pub_content">
            <span>摘要：</span>{{ post.text|safe }}
            </div>
            <a class="fr gt" href="/blog/{{post.id}}">查看详细......</a>
            <div class="pub_data  clearfix">
                <div class="fr">
                {{ post.author.username }}@ : {{ post.published_date }}
                &nbsp;<span>阅读({{ post.click }})</span>&nbsp;<span>评论(0)&nbsp;</span><span>赞(0)</span>
                </div>
            </div>
            <hr>
            {% endfor %}

{% endblock body %}