{% extends 'blog/base.html' %}
{% block head %}
   <style>
        .title{
            font-size: 20px;
            font-family: 'Lobster';
            height: 40px;
            line-height: 40px;
            text-indent: 50px;
            background: #5b8dcd;
        }
        .title a{
             font-family: 'Lobster';
                color: black;
        }

        .pub_content{
            margin-top: 40px;
        }
        .pub_data{
            margin-right: 20px;
        }
        .keywords{
            margin-top: 15px;
            margin-bottom: 15px;
        }

   </style>
{% endblock head %}
{% block body %}
        {% for post in blog %}

            <h3 class="title"><a href="/blog/{{ post.id }}/">{{ post.title }}</a></h3>
            <div class="keywords">本文关键字：　{{ post.keywords|default:"" }}</div>
            <div class="pub_data fr">{{ post.author.username }}发表于: {{ post.published_date }}</div>
            <div class="pub_content">
            {{ post.text|safe|slice:'200' }}<a href="/blog/{{post.id}}">更多......</a>
            </div>
            <hr>
            {% endfor %}

{% endblock body %}