{% extends 'blog/base.html' %}
{% block head %}
    <style>
    .resume{
        margin-top: 20px;
    }
    .h{
       margin: 20px 0;

    }
    .y{
        margin: 5px 0 ;
    }
    </style>
{% endblock head %}
{% block body %}
    <div class="resume">
    <p>关于逆流沙—卫庄博客介绍：</p>
    <p>博主没有ui妹子帮忙设计页面，页面很丑，将就着看吧!</p>
        <h3 class="h">卫庄兄名言警句：</h3>
        <ul class="y">
            <li>1.你既然已经做出了选择，又何必去问为什么选择。</li>
            <li>2.弱者总喜欢用善良来掩饰内心的软弱。</li>
            <li>3.这是一条不能回头的长路，也许，明天的太阳再也不会升起，然而，深渊给了我们仇恨的眼睛，我会用它去看透黑暗的尽头。</li>
            <li>4.最简单的行为动机分析，归根究底只有两个字：利益！</li>
            <li>5.每盏灯光下都有照不亮的黑影。越繁华的城市越像一座丛林，潮湿阴暗的角落里充满了危险的猛兽，随时准备撕碎无辜弱小的猎物，捕食留下一道道血迹，像满脸皱纹看着城市衰老。雨丝中带着熟悉的血腥，这才是属于夜晚的气味。有些人天生就属于深夜，今晚会有人死去，一如既往。</li>
            <li>6.最简单的行为动机分析，归根究底只有两个字：利益！</li>
        </ul>
    <h3 class="h">武功展示：</h3>
    <ul>
        <li>1.  熟练使用Django、Flask等主流WEB框架。</li>
  <li>2.  熟悉JavaScript、Ajax、JQuery、CSS、HTML等WEB前端技术。</li>
  <li>3.  熟练使用Python urllib2、Requests等网络模块。</li>
  <li>4.  熟练掌握Scrapy框架，以及编写各类中间件。</li>
  <li>5.  熟悉使用Xpth、BeautifulSoup、re、json模块进行数据提取，能够使用Selenium + PhantomJs实现动态请求分析抓取。</li>
  <li>6. 掌握常见的爬虫、反爬虫知识及应对措施。</li>
  <li>7.  了解Nginx、uwsgi的部署和应用。</li>
  <li>8.  熟练使用MySQL数据库，熟悉Redis，MongoDB等NoSQL数据库。</li>
    </ul>


</div>

{% endblock body %}