{% extends 'blog/base.html' %}

    {% block head %}
        <style>
            .title_list{
                margin: 20px 0;
                font-size: 20px;

            }

            .seq{
            padding: 5px;
            font-family: 'Lobster';

        }
            .click{
                font-size: 14px;
                margin: 0 5px;
            }


        /* 分页样式 */

.pagenation {
    height: 32px;
    text-align: center;
    font-size: 0;
    margin: 30px auto;
}

.pagenation a {
    display: inline-block;
    border: 1px solid #d2d2d2;
    background-color: #f8f6f7;
    font-size: 12px;
    padding: 7px 10px;
    color: #666;
    margin: 5px
}

.pagenation .active {
    background-color: #fff;
    color: #43a200
}
        .search_empty{
            margin-top: 20px;
            text-align: center;
        }
        .dz_title{
            margin-top: 20px;
            margin-bottom: 10px;
            background-color: #2aabd2;
            text-align: center;
            font-size: 18px;
        }

        </style>

    {% endblock head %}

{% block left %}

    <h2 class="dz_title">今日段子</h2>
    <ul>
        {% if dz %}
        {% for foo in dz %}
            <li>{{ forloop.counter }}.{{ foo|safe }}</li>
        {% endfor %}
        {% else %}
            <li>爬虫累了,今日段子暂时无法查看...</li>
        {% endif %}
    </ul>

{% endblock left %}

{% block body %}
    <div class="result">

    </div>

    <ul>
    {% if page_obj %}
    {% for foo in page_obj %}
        {% if foo.object.published_date %}
        <li class="title_list" ><span class="seq"></span><a href="/blog/{{ foo.object.id }}">{{ foo.object.title }}</a>
             <div class="click fr">踩({{ foo.object.cai }})</div>
            <div class="click fr">赞({{ foo.object.praise }})</div>
            <div class="click fr">评论(０)</div>
            <div class="click fr">阅读({{ foo.object.click }})</div>
        </li>
{% endif %}
    {% endfor %}

    </ul>

        <div class="pagenation">

            {% if page_obj.has_previous %}
                <a href="/search/?q={{ query }}&page={{ page_obj.previous_page_number }}" class="active">上一页</a>
            {% else %}
                <a href="/search/?q={{ query }}&page=1" class="active" >上一页</a>
            {% endif %}

        {% for pindex in page_obj.paginator.page_range %}
            {% if pindex == page.number %}
                <a href="#" class="active">{{ pindex }}</a>
            {% else %}
            <a href="/search/?q={{ query }}&page={{ pindex }}" class="active" >{{ pindex }}</a>
            {% endif %}
        {% endfor %}

        {% if page_obj.has_next %}
            <a href="/search/?q={{ query }}&page={{ page_obj.next_page_number }}"class="active" >下一页</a>
        {% else %}
            <a href="/search/?q={{ query }}&page={{ page_obj.paginator.num_pages }}" class="active">下一页</a>
        {% endif %}

    </div>

    {% else %}
        <p class="search_empty">搜索内容为空</p>
     {% endif %}

{% endblock body %}


{% block right %}
{% endblock right %}